<div style="padding:10px"></div> <%# added by me %> 

  <div class="row">
  <h1>Articles</h1>

  <h1 class="text-success">Our blog has <em><%= Article.public_count %> </em> public articles and counting!</h1>
  </div>


<div class="row">
  <% @articles.each do |a|%>
      <div class="col col-lg-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><%= link_to a.title, a %>
            <% case a.status %>
            <% when "public" %>
                    <span class="badge bg-warning" style="float:right">Public</span>
            <% when "private" %>
                    <span class="badge bg-dark" style="float:right">Private</span>
            <% when "archived" %>
                    <span class="badge bg-danger" style="float:right">Archived</span>
            <% end%>

          </div>
          <div class="card-body">
            <h4 class="card-title"><%= a.title %></h4>
            <p class="card-text"><%= a.body %></p>
          </div>
        </div>
      </div>        
  <%end%>
</div>



