<div class="row">
  <h1>Articles</h1>
</div>
<br>
<h1 class="text-warning">Hi! this blog has <em><%= Article.public_count %> public </em> articles and counting!</h1>
<br>
<div class="row">
  <% @articles.each do |a|%>
    <div class="col col-lg-4">
      <div class="card border-primary mb-3 mw-20rem">
        <div class="card-header">
          <svg xmlns="http://www.w3.org/2000/svg" class="avatar" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
          <%= get_author(a.user_id).name%>
          <% case a.status %>
          <% when 'public' %>
          <span class="badge bg-warning" >Public</span>
          <% when 'private' %>
          <span class="badge bg-dark" >Private</span>
          <% when 'archived' %>
          <span class="badge bg-danger" >Archived</span>
        <% end%>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to a.title, a %>
        </h4>
        <p class="card-text"><%= a.body %></p>
      </div>
    </div>
  </div>
<%end%>
</div>
